.form {
  transition: var(--trans-03);
  width: 60%;
  padding: 25px;
  border-radius: 10px;
  margin: auto;
  margin-top: 25px;
  text-decoration-style: solid blue;

}

.form .form__input::placeholder {
  color: black;
}

.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}
.form .form__container .text__form{
  width: 70%;
  text-align: center;
  color: black;
  margin: 0 auto 25px auto;
}
.text__form p{
  font-size: 1.1rem;
}
.form .form__container .text__form .form__title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--button-color);
  transition: var(--trans-03);
}

.data{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.data .form__input{
  width: 40%;
}


.form .form__container .form__input {
  font-size: 1rem;
  padding: .6em .5em;
  outline: none;
  border: none;
  color: black;
  background-color: inherit;
  border-bottom: 1px solid black;
}

.form__input--message {
  resize: none;
  padding: 1.5em 1em;
}

.form .form__cta {
  position: relative;
  font-family: inherit;
  color: var( --button-color);
  background-color:var(--sidebar-color);
  border: 1px solid black;
  width: auto;
  min-width: 200px;
  font-weight: 400;
  padding: .7em 0;
  cursor: pointer;
  height: 45px;
  overflow: hidden;
  transition: .3s;
  margin: 15px auto 0 auto;
}

.form__cta .send__message{
  position: absolute;
  top: 0;
  right:  100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  height: 100%;
  width: 100%;
  color: var(--sidebar-color);
  transition: .1s;
  transition-timing-function: ease-out;
}
.form__cta .send__message span{
  display: none;
}
.form .form__cta:hover .send__message span{
  display: block;
  transition: 1s;
  color: var(--sidebar-color);
}
.form__cta:hover .send__message{
  right: 0%;
}


span {
  color: rgb(223, 107, 107);
}

@media(max-width:750px) {
  .form__container .text__form{
    width: 90%;
  }
  .form__title {
    font-size: 2rem;
    transition: .2s;
  }
  .form__cta{
    min-width: 150px;
  }
  .form {
    width: 90%;
    padding: 2.5em 1.5em;
  }
  .data{
    flex-direction: row;
  }
  .data .form__input{
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
}


.darkMode  .form__container .text__form{
  color: var(--sidebar-color);
}
.darkMode  .form__container .text__form .form__title{
  color: var(--sidebar-color);
}
.darkMode .form__container .form__input {
  color: aliceblue;
  border-bottom: 1px solid var(--sidebar-color);
}
.darkMode .form__input::placeholder {
  color: var(--sidebar-color);
}

.darkMode .form__cta{
  background-color: var(--button-color);
  color: var(--sidebar-color);
}

.darkMode .form__cta:hover .send__message span{
  color: var(--button-color);
  background-color: var(--sidebar-color);
}
.darkMode .form__cta:hover .send__message{
  background-color: var(--sidebar-color);
  color: var(--button-color);
}
