.form {
  transition: var(--trans-03);
  width: 60%;
  padding: 25px;
  border-radius: 10px;
  margin: auto;
  text-decoration-style: solid blue;
}

.form .form__input::placeholder {
  color: black;
}

.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form .form__container .text__form {
  width: 70%;
  text-align: center;
  color: black;
  margin: 0 auto 25px auto;
}

.text__form p {
  font-size: 1.1rem;
}

.form .form__container .text__form .form__title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: var(--button-color);
  transition: var(--trans-03);
}

.data {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.data .form__input {
  width: 40%;
}


.form .form__container .form__input {
  font-size: 1rem;
  padding: .6em .5em;
  outline: none;
  border: none;
  color: black;
  background-color: inherit;
  border-bottom: 1px solid black;
}

.form__input--message {
  resize: none;
  padding: 1.5em 1em;
}
span {
  color: rgb(223, 107, 107);
}

.form .content__btn {
  font-family: inherit;
  background-color: var(--button-color);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  font-weight: 400;
  cursor: pointer;
  height: 45px;
  margin: 15px auto 0 auto;
}

.btn__submit{
  position: relative;
  text-align: center;
  display: flex;
  margin: auto;
  color: rgb(238, 238, 238);
  height: 100%;
  min-height:45px ;
  width: 100%;
  display: inline;
  border: none;
  padding-top: 11px;
  border: 1px solid black;
  z-index: 5;

}
.btn__submit::before{
  content: "";
  position:absolute;
  background-color: var(--sidebar-color);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 0 0, 0 99%, 0% 100%);
  transition-property: color clip-path;
  transition-duration: .5s;
  z-index: -1;
}
.btn__submit:hover{
  color: var(--button-color)
}
.btn__submit:hover::before{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.darkMode .form__container .text__form {
  color: var(--sidebar-color);
}

.darkMode .form__container .text__form .form__title {
  color: rgb(24, 85, 255);
}

.darkMode .form__container .form__input {
  color: aliceblue;
  border-bottom: 1px solid var(--sidebar-color);
}

.darkMode .form__input::placeholder {
  color: var(--sidebar-color);
}

.darkMode .content__btn {
  background-color: var(--button-color);
  color: var(--sidebar-color);
}

@media(max-width:750px) {
  .form__container .text__form {
    width: 90%;
  }

  .form .form__container .text__form .form__title {
    font-size: 2rem;
    transition: .2s;
  }

  .content__btn {
    min-width: 150px;
  }

  .form {
    margin-right: 30px;
    width: 90%;
    padding: 2.5em 1.5em;
  }

  .data {
    flex-direction: row;
  }

  .data .form__input {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
  }
}
