<div class="container">
  <section class="section section backend">
    <div class="work">
      <div class="work__img">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/multimedia-project-15028.appspot.com/o/motoservice.png?alt=media&token=c9647279-c524-4994-9fc0-7debee7ed11e"
          alt="work 1">
      </div>

      <div class="work__paragraphs" [ngClass]="{'darkText': isDarkSelect}">
        <h2 class="work__title">Controller of motorcycle</h2>
        <p class="paragraph"> This driver is part of an exciting microservice consisting of three services: Motorcycle,
          Car, and User. It is designed to provide a personalized experience for motorcycle users</p>
        <h3>Tegnologi: JAVA Spring-Boot</h3>
        <span>
          <a href="https://github.com/euclidesseg/microserviceSpringBoot" target="_blank" class="github__cta"><i class="pi pi-github"></i> GitHub</a>
        </span>
      </div>
    </div>

    <div class="work">
      <div class="work__img">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/multimedia-project-15028.appspot.com/o/motoservice.png?alt=media&token=c9647279-c524-4994-9fc0-7debee7ed11e"
          alt="">
      </div>
      <div class="work__paragraphs" [ngClass]="{'darkText': isDarkSelect}">
        <h2 class="work__title">Service of motorcycle</h2>
        <p class="paragraph"> This service is part of an exciting project that involves a microservice in which it
          consists of three services of motorcycle cars and users</p>
        <h3>Tegnologi: JAVA Spring-Boot</h3>
        <a href="https://github.com/euclidesseg/microserviceSpringBoot" target="_blank" class="github__cta"><i class="pi pi-github"></i> GitHub</a>
      </div>
    </div>

    <div class="work">
       <div class="work__img">
         <img src="https://firebasestorage.googleapis.com/v0/b/multimedia-project-15028.appspot.com/o/servicioreservajs.png?alt=media&token=3cb5c512-3fb9-40fd-b76b-f93153df852c" alt="work 2">
       </div>
        <div class="work__paragraphs" [ngClass]="{'darkText': isDarkSelect}">
          <h2 class = "work__title">Service reserva</h2>
          <p class="paragraph">This service is part of my final work project at the university. Although this project has already been delivered and graded, I plan to improve it on both back-end and front-end</p>
          <h3>Tegnologi: JavaScript Node-Js</h3>
          <a href="https://github.com/euclidesseg/nodeJSLunes/blob/main/serverapi2023-lunes/services/ServicioReservas.js" target="_blank" class="github__cta"><i class="pi pi-github"></i> GitHub</a>
        </div>
      </div>

      <!-- <div class="work">
        <img src="ruta_a_la_imagen.jpg" alt="work 2">
      <h2 class = "work__title">Título del work 2</h2>
        <p class="paragraph">Descripción del work 2</p>
      </div>  -->
  </section>



  <!-- <h2 class="title__section">Frontend</h2>
    <section class="section frontent">
      <div class="work">
        <img src="ruta_a_la_imagen.jpg" alt="work 1">
      <h2 class = "work__title">Título del work 1</h2>
        <p class="paragraph">Descripción del work 1</p>
      </div>

      <div class="work">
        <img src="ruta_a_la_imagen.jpg" alt="work 2">
      <h2 class = "work__title">Título del work 2</h2>
        <p class="paragraph">Descripción del work 2</p>
      </div>
      <div class="work">
        <img src="ruta_a_la_imagen.jpg" alt="work 2">
      <h2 class = "work__title">Título del work 2</h2>
        <p class="paragraph">Descripción del work 2</p>
      </div>
      <div class="work">
        <img src="ruta_a_la_imagen.jpg" alt="work 2">
      <h2 class = "work__title">Título del work 2</h2>
        <p class="paragraph">Descripción del work 2</p>
      </div>


    </section> -->

</div>
