
.container{
  height: auto;
  min-height: 100vh;
  width: 100%;
  padding: 20px 30px 20px 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
  gap: 170PX 80px;
}
.container .project{
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 350px;
  background-color: var(--sidebar-color);
  position: relative;
  margin-bottom: 35px;
  border-radius: 5px;
}

.container .project .info__project{
  position: absolute;
  width: 95%;
  height: auto;
  min-height: 25%;
  left: 2.5%;
  padding: 5px;
  bottom: -50px;
  border-radius: 5px;
  margin: auto;
  background-color: var(--button-color);
}

.project .img__project{
  margin-top:35px ;
  height: 70%;
  max-height: 350px;
  width: 95%;
  border-radius: 5px;
}
.info__project .work__title{
  margin-bottom: 10px;
}

@media screen and (min-width:560px) {
  .container{
   padding: 20px 10% 20px 10%;
  }
  .project .img__project{
    margin-top: 10px;
    height: 80%;
  }
}
@media screen and (min-width:650px) {
  .container{
   padding: 20px 15% 20px 15%;
  }
}
@media screen and (min-width:854px) {
  .container{
    padding: 20px 5% 20px 5%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 170PX 60px;
  }
}
@media screen and (min-width:1500px) {
  .container{
    padding: 20px 5% 20px 5%;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(450px, 1fr));
    gap: 170PX 40px;
  }
}
/* .container .work{
  overflow: hidden;
  width: 80%;
  height: auto;
  margin: 100px auto 10px auto;
  min-height: 360px;
  display: grid;
  border-radius: 5px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container .work1{
  margin-top: 15px;
}
.work__image, .work__parragraphs{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}

.work .work__image{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  height: auto;
  min-height: 204px;
  width: 100%;
}
.work1 .work__image{
  background-image: url(https://firebasestorage.googleapis.com/v0/b/multimedia-project-15028.appspot.com/o/modeloUsuario.png?alt=media&token=6f50bcf8-543c-4315-8521-8bedbecac863);

}
.work2 .work__image{
  background-image: url(https://firebasestorage.googleapis.com/v0/b/multimedia-project-15028.appspot.com/o/motoservice.png?alt=media&token=b3515880-74e6-41aa-88d4-69aaa2332110);
}
.work3 .work__image{
 background-image: url(https://firebasestorage.googleapis.com/v0/b/multimedia-project-15028.appspot.com/o/servicereserva.png?alt=media&token=b620cb20-b3ab-461a-941d-219e3b95704f);
}
.work__parragraphs{
  background-color: var(--sidebar-color);
  text-align:start;
  color: var(--paragraph-black);
}

.work__title{
  color: var(--button-color);
  text-transform: uppercase ;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.github__cta{
  overflow: hidden;
}
.github__cta i{
  margin-top: 50px;
  color: var(--paragraph-black);
  font-size: 1.5rem;
  bottom: 15px;
}
.github__cta:hover i{
  rotate: 1 2 1 360deg;
    transition: 1s;
}
.dark .work .work__parragraphs{
  background-color: var(--surface--blue);
}
.dark .github__cta i{
color: var(--paragraph-white);
}

.skills{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.skills span{
  color: var(--button-color);
  padding: 8px 15px 2px 15px;
  font-size: 11px;
  width: auto;
  text-align: center;
  height: auto;
  font-weight: 800;
  min-height: 30px;
  background: #b5b4f973;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 15px;
}
@media(max-width:1080px){
  .container .work{
    width: 95%;
  }
}

@media(max-width:746px){
  .container .work{
    width: 65%;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
  .container{
    padding: 5px;
  }
}

@media(max-width:453px){
  .container{
    justify-content: c;
  }
  .container .work{
    width: 85%;
    transition: 1s;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
  .container{
    padding: px;
  }
}

.dark .work__parragraphs .work__title{
  color: var(--paragraph-white);
}
.dark .skills span{
  color: var(--paragraph-white);
} */
