
<section class="container" [ngClass]="{'dark': isDarkSelect}">
  <div class="work work1">
    <div class="work__image">

    </div>
    <div class="work__parragraphs" [ngClass]="{'darkText': isDarkSelect}">
      <div class="texts">
        <h2 class="work__title">User Model</h2>
        <p class="paragraph">This user model is part of the self-taught learning I've had with the Java language and now
          they with spring-boot Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum numquam in voluptatum alias non, nesciunt maxime aperiam</p>
        <span>
          <a href="https://github.com/euclidesseg/apiWithSpringBootAndPostgres/tree/main/src/main/java/com/example/apiWithSpringAndPostgres"
            target="_blank" class="github__cta"><i class="pi pi-github"></i> GitHub</a>
        </span>
      </div>
    </div>
  </div>
  <!-- =================== -->
  <div class="work work2">
    <div class="work__image">

    </div>
    <div class="work__parragraphs" [ngClass]="{'darkText': isDarkSelect}">
      <div class="texts">

        <h2 class="work__title">Motorcycle Service</h2>
        <p class="paragraph"> This service is part of an exciting project that involves a microservice in which it
          consists of three services of motorcycle cars and users</p>
        <a href="https://github.com/euclidesseg/microserviceSpringBoot" target="_blank" class="github__cta"><i
            class="pi pi-github"></i> GitHub</a>
      </div>
    </div>

  </div>
  <div class="work work3">
    <div class="work__image">

    </div>
    <div class="work__parragraphs" [ngClass]="{'darkText': isDarkSelect}">
      <div class="texts">
        <h2 class="work__title">Reserva Service</h2>
        <p class="paragraph">This service is part of my final work project at the university. Although this project has
          already been delivered and graded, I plan to improve it on both back-end and front-end</p>
        <a href="https://github.com/euclidesseg/nodeJSLunes/blob/main/serverapi2023-lunes/services/ServicioReservas.js"
          target="_blank" class="github__cta"><i class="pi pi-github"></i> GitHub</a>
      </div>
    </div>
  </div>
</section>
