<section class="container" [ngClass]="{'dark': isDarkSelect}">

  <div class="project" *ngFor="let project of projects" >
    <div class="figure">
      <img [src]="project.img" class="img__project" alt="">
      <div class="project__links">
        <div class="cta">
          <a [href]="project.linkBakend" class="github__cta" *ngIf="project.linkBakend" target="_blank"><i class="pi pi-github"></i></a>
          <a [href]="project.linkFront" class="deploy__cta" *ngIf="project.linkFront" target="_blank"><i class="pi pi-sign-in"></i></a>
        </div>
        <div class="skills">
          <span *ngFor=" let skill of project.skills">{{skill | titlecase}}</span>
        </div>
      </div>
    </div>
    <div class="info__project">
      <h3 class="project__title">{{project.title | titlecase}}</h3>
      <p class="paragraph"  [ngClass]="{'darkMode': isDarkSelect}">{{project.description}}</p>
    </div>
  </div>
