
.container{
  height: auto;
  min-height: 100vh;
  width: 100%;
  padding: 20px 30px 20px 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
  gap: 150PX 80px;
}
.container .project{
  display: flex;
  justify-content: center;
  min-height: 200px;
  background-color: var(--sidebar-color);
  position: relative;
  margin-bottom: 55px;
  border-radius: 5px;
}
.project .figure{
  position: relative;
  margin-top:10px ;
  height: 80%;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 350px;
  transition: opacity 1s;
}

.figure .img__project{
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.figure .project__links{
  position: absolute;
  z-index: 1;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(5, 17, 58);
  opacity: 0;
  transition-property: opacity, box-shadow;
  transition-duration:  .8s;

}

.project__links .cta, .skills{
  position: relative;
  z-index: 100;
  width: 90%;
  height: 100%;
  justify-content: space-evenly;
  opacity: 1 !important;
  gap: 5px;
}
.project__links .cta{
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.cta .github__cta, .deploy__cta{
  width: auto;
  min-width: 50px;
  min-height: 40px;
  padding: 5px;
  cursor: pointer;
}
.cta i{
  font-size: 1.5rem;
  color: white;
  bottom: 15px;
}
.project__links .skills{
  width: 100%;
  height: 70%                     ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skills span{
  color: var(--sidebar-color);
  padding: 7px 5px 0px 5px;
  font-size: 11px;
  width: auto;
  text-align: center;
  height: auto;
  font-weight: 800;
  min-height: 30px;
  background: #01011673;
  opacity: 1;
  margin-right: 10px;
  border-radius: 15px;
}
.figure .project__links:hover{
  opacity: .8;
  box-shadow: 0px 0px 10px rgb(1, 1, 49);
}

.container .project .info__project{
  position: absolute;
  width: 95%;
  height: auto;
  min-height: 25%;
  left: 2.5%;
  padding: 10px;
  top: 88%;
  border-radius: 5px;
  margin: auto;
  background-color: var(--bodi-color);
}

.info__project .project__title{
  margin-bottom: 10px;
  color: var(--button-color);
}
.info__project .paragraph{
  color: darkblue;
}

@media screen and (min-width:560px) {
  .container{
   padding: 20px 10% 20px 10%;
  }
  .container .project{
    min-height: 300px;
  }

  .figure .project__links{
    height: 100%;
  }
}
@media screen and (min-width:650px) {
  .container{
   padding: 20px 15% 20px 15%;
  }
  .project .figure{
    height: 75%;
  }
  .container .project .info__project{
    top: 85%;
  }
}
@media screen and (min-width:854px) {
  .container{
    padding: 20px 5% 20px 5%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 170PX 40px;
  }
}
@media screen and (min-width:1400px) {
  .container{
    padding: 20px 5% 20px 5%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    gap: 170PX 20px;
  }
}
@media screen and (min-width:2900px) {
  .container{
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
  }
}
.github__cta{
  overflow: hidden;
}
.dark .project{
  background-color: var(--surface--blue);
}
.dark .project .info__project{
  background-color: var(--body-ground);
}
.dark .project .info__project .project__title{
  color: rgb(119, 153, 248);
}
.dark .project .info__project .paragraph{
  color: var(--sidebar-color);
}
