<div class="about__me">
        <div class="container container__texts">
            <!-- <h1 class="text text__title">I'm Euclides Perez</h1>
            <h1 class="text text__profesion">Software Developer</h1> -->
        </div>
        <div class="container img__perfil">
            <!-- <img src="../../../../assets/images/img_perfil.png" class="img"> -->
        </div>
        <div class="container container__texts">
            <!-- <h1 class="text text__title">I'm Euclides Perez</h1>
            <h1 class="text text__profesion">Software Developer</h1> -->
        </div>
</div>
