/* clases cuando esta en modo dark */
.darkText {
  color: var(--text-color);
  transition: var(--trans-05);
}


/* clases cuando esta en modo dark */
.darkText {
  color: var(--text-color);
  transition: var(--trans-05);
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 85px 0px 15px;
}

.container .container__paragraphs {
  margin-top: 15px;
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 15px;
}
.container__paragraphs .i__texts{
  font-size: 2rem;
  color: tomato;
}
.container__paragraphs .i__like{
  font-size: 1.5rem;
}
.i__like .text__like{
  color: var(--login);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}
.container .container__img {
  margin-top: 15px;
  width:500px;
  height: 600px;
  max-height: 700px;
  display: flex;
  align-items: center;
}

.container__img .img__perfil img {
  height: 95%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 155px rgba(15, 15, 15, 15)
}

@media(max-width: 490px){

  .container .container__paragraphs {
   margin-top: 150px;
  }
}

@media(max-width: 437px){

  .container .container__img {
    height: 200px;
    margin-top: 100px;
    align-items: start;
  }
}
