
.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 15px 0px 15px;

}
.container .section{
  width: 500px;
  height: 600px;
  display: flex;
  max-height: 700px;
  padding: 15px;
  transition: var(--trans-05);
}
.container .container__paragraphs {
  justify-content: space-evenly;
  flex-direction: column;
}
.container__paragraphs .i__texts{
  font-size: 2rem;
  color: #dd1b16;
}
.container__paragraphs .i__like, .container__hero .text{
  font-size: 1.5rem;
  color: var(--surface-f);
}
.i__like .text__like , .container__hero .text__know{
  color: #6DB33F;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 25px;
}
.container .container__img {
  display: flex;
  transition: var(--trans-05);
}
.container .container__hero{
  height: 350px;
  margin-top: 100px;
}

.container__img .img__perfil img {
  height: 60%;
  width: 100%;
  min-width: 150px;
  position: relative;
  top: 115px;
  box-shadow: 10px 10px 35px rgba(15, 15, 15, 15);
}
.section__form{
  margin-top: 200px;
  width: 700px;
}
.section__form app-contact-form{
  width: 100%;
}
@media(max-width: 490px){

  .container .container__paragraphs {
   margin-top: 50px;
  }
  .container .container__img {
    height: 300px;
  }
  .section__form{
    margin-top: 250px;
  }
}

@media(max-width: 417px){

  .container .container__img {
    margin-top: 50px;
    align-items: start;
    transition: var(--trans-05);
  }
  .container__img .img__perfil img{
    top: 70px;
  }
}

@media(max-width: 365px){
  .container__paragraphs .i__texts{
    font-size: 1.5rem;
  }
  .container__paragraphs .i__like, .container__hero .text{
    font-size: 1rem;
  }
  .container__img .img__perfil img{
    top: 15px;
  }
  .container .container__img {
    height: 150px;
  }
  .container .container__hero{
    margin-top: 70px;
  }
  .section__form{
    margin-top: 100px;
  }
}
/* clases cuando esta en modo dark */
.darkText div .i__like .text {
  color: var(--text-color);
  transition: var(--trans-05);
}
