
  <div class="container">
    <section class="hellow">
      <div class="hellow__parragraphs" [ngClass]="{'darkMode': isDarkSelect}">
        <h1 class="parragraph__title">Hi I'm Euclides Perez</h1>
        <p class="parragraph__skill">Fullstack Developer based in Medellin, Colombia</p>
        <div class="social__media">
          <a href="https://github.com/euclidesseg" target="_blank"><i class="pi pi-github"></i></a>
          <a href="https://www.linkedin.com/in/euclides-perez-55329b196/" target="_blank"><i
              class="pi pi-linkedin"></i></a>
          <a href="mailto:euclides2696@gmail.com" target="_blank"><i class="pi pi-google"></i></a>
        </div>
        <div class="button__cv">
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-898c3.appspot.com/o/Curriculum-English%20Euclides.pdf?alt=media&token=c6621630-0097-4ca4-8ada-be94882d2fdd" target="_blank">CV English</a>
          <a href="https://firebasestorage.googleapis.com/v0/b/portfolio-898c3.appspot.com/o/Curriculum-Spanish%20Euclides.pdf?alt=media&token=84f6a820-455a-4fc3-9f0a-17e6faafd775" target="_blank">CV Spanish</a>

        </div>
      </div>
      <div class="hellow__image">
        <img src="assets/images/img_perfil.png" alt="" class="img__presentation">
      </div>
    </section>

    <section class="about__me" [ngClass]="{'vela__blue': isDarkSelect}">
      <div class="about__me__image">
        <img src="assets/images/pccode.jpeg" alt="" class="about__image">
      </div>
      <div class="about__me__paragraph"[ngClass]="{'darkMode': isDarkSelect}">
        <h3>ABOUT ME </h3>
        <p>I was born on June 2, 1996 in Córdoba, Colombia. I am passionate about programming; Ever since I was little, I always wanted to have a superpower, and for me, programming is the best of all. Today, I feel happy and proud to be able to say that I am a software developer.</p>
      </div>
    </section>
  </div>
