
/*========== primera seccion presentacion ============*/
.container {
  height: auto;
  min-height: 100vh;
  width: calc(100%  - 10px);
}

.container .hellow {
  width: 100%;
  height: auto;
  margin: 30px auto 80px auto;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 90px 90px 90px;
  gap: 80px;
}

.hellow .hellow__parragraphs {
  height: auto;
  max-height: 320px;
  width: auto;
  display: flex;
  flex-direction: column;
  max-width: 470px;
  justify-content: center;
  color: var(--paragraph-black);
}

.parragraph__title {
  font-family: var(--source-code);
  font-weight: 800;
  font-size: 3.3rem;
}

.parragraph__skill {
  margin-top: 10px;
  font-family: var(--roboto-mono);
  font-weight: 400;
  font-size: 15px;
}

.hellow .hellow__image {
  height: auto;
  max-height: 320px;
  width: auto;
  max-width: 320px;
  min-width: 250px;
  display: flex;
  justify-content: center;
}

.img__presentation {
  height: 100%;
  border-radius: 50%;
  width: 100%;
}

.hellow .social__media {
  display: flex;
  width: auto;
  max-width: 150px;
  min-height: 50px;
  overflow-y: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30px 0px 5px 0px;
}

.darkMode .parragraph__skill {
  color: var(--paragraph-white);
}

.hellow .social__media i {
  font-size: 1.2rem;
  margin: 8px;
  color: var(--paragraph-black);
}

.hellow .social__media i:hover {
  font-size: 1.4rem;
}

.button__cv {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  min-height: 70px;
  gap: 15px;
}

.button__cv a {
  height: auto;
  height: 40px;
  width: auto;
  padding: 8px;
  text-decoration: none;
  min-width: 100px;
  cursor: pointer;
  border-radius: 7px;
  font-family: var(--roboto-mono);
  font-weight: 400;
  color: var(--paragraph-white);
  overflow: hidden;
  border-style: none;
  background-color: var(--button-color)
}

.button__cv a:hover {
  background-color: #3029fa;
  box-shadow: 0px 0px 5px rgb(37, 37, 241);
  transition: var(--trans-02);
}

.darkMode .social__media i {
  color: var(--paragraph-white);
}


/* ===== seccion habilidades */
.container .skills{
  width: 100%;
  height: auto;
  min-height: 50px;
  padding: 0px 90px 0px 90px;
  opacity: .8;
}
.skills .skills__container{
  height: inherit;
  width: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.skills__container .fa-brands, .fa-brands ~.pi{
  width: auto;
  max-height: 38px;
  min-width: 60px;
  border-radius: 5px;
  padding: 3px;
  text-align: center;
  font-size: 2rem;
  background-color: var(--surface-ground);
}

/* ========= sobre mi ============ */
.container .about__me {
  background-color: var(--sidebar-color);
  margin: 150px auto 50px auto;
  border-radius: 5px;
  width: 90%;
  padding: 50px;
  height: auto;
  display: flex;
  gap: 30px;
}

.about__me .about__me__image {
  height: auto;
  width: 40%;
  display: flex;
  justify-content: center;
  max-height: 90%;
}

.about__me .about__me__image .about__image {
  width: 100%;
  height: auto;
  min-height: 95%;
  margin: auto 0;
  border-radius: 5px;
}

.about__me .about__me__paragraph {
  color: var(--paragraph-black);
  height: auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about__me__paragraph p {
  margin-top: 10px;
  font-size: 1.2rem;
}

.about__me__paragraph h3 {
  font-family: var(--source-code);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.vela__blue {
  background-color: var(--surface--blue) !important;
}

@media(max-width:1080px) {

  /*cuando tenga menos de 340 px*/
  .container .about__me {
    flex-direction: column;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .about__me .about__me__image {
    width: 100%;
  }

  .about__me .about__me__paragraph {
    width: 100%;
    height: auto;
  }

  .about__me__paragraph h3 {
    font-size: 1.1rem;
  }
}

@media(max-width:753px) {

  /*cuando tenga menos de 663px*/
  .container .hellow {
    flex-direction: column;
    transition: var(--trans-2);
    /* padding: 70px; */
  }

  .hellow__parragraphs {
    text-align: center;
    justify-content: center;
  }

  .hellow .social__media {
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }

  .button__cv {
    justify-content: center;
  }

  .about__me {
    width: 100%;
  }

}

@media(max-width:500px) {

  /*cuando tenga menos de 663px*/
  .container .about__me {
    padding: 20px;
  }
}
