<div class="container"  [ngClass]="{'darkText':darckModeSelect}">
  <div class="section container__paragraphs">
    <div class="i__texts">
      <h1 class="text text__title">I'm Euclides Perez</h1>
      <h1 class="text text__profesion"><pre></pre> <span style="color: #6DB33F;;">|</span> Frontend Developer</h1>
    </div>
    <div class="i__like">
      <p class="text__like">And i wolk like to work on your next proyect</p>
      <p class="text" [ngClass]="{'darkText':darckModeSelect}"> I would love to be the first option for your vacancy and
        work alongside your team during the rest of the project and many more, so that I can move forward and learn</p>
    </div>
  </div>

  <div class="section container__img">
    <figure class="img__perfil">
      <img src="../../../../assets/images/fullstak.webp">
    </figure>
  </div>

  <div class=" section container__hero">
    <div class="i__like">
      <p class="text__know">Know me a little</p>
      <p class="text">
        I am a software technician and I am studying the first semester of engineering,
        I love my job and I love learning from it, I am passionate about programming and everything related to
        technology, since I was a child I always wanted to have a superpower and programming is the best of all
      </p>
    </div>
  </div>
  <div class="section section__form">
    <app-contact-form></app-contact-form>
  </div>

</div>
