<nav class="sidebar" [ngClass]="{'closeNav': close, 'vela__blue__sidebar': darkModeSelect}">
    <!-- acabo de agregar dos clases dependiendo de dos condiciones -->
    <header>
        <div class="image-text">
            <span class="image">
                <img src="../../../assets/images/img_perfil.png" alt="logo" class="image__logo">
            </span>
            <div class="text header-text">
                <span class="name"> Euclides Perez</span>
                <span class="profesion"> Developer </span>
            </div>
        </div>
        <i class="toggle" (click)="openOrCloseSidebar()">
            <img src="../../../assets/images/menu.svg" alt="" class="toggle__image">
        </i>
    </header>

    <div class="menu__bar">
        <div class="menu">
            <li class="menu__search">
                <i class="pi pi-search" (click)="oppenWithSearch()"></i>
                <input type="search" class="search" placeholder="Search....">
            </li>
            <ul class="menu__list">
                <li class="nav__link" *ngFor="let item of sidebarItems" [routerLink]="item.url">
                        <i [ngClass]="item.icon"></i>
                        <span class="text nav__text">
                            {{item.label}}
                        </span>
                </li>
            </ul>

        </div>
        <div class="bottom__content">
            <li class="log">
                    <i class="pi pi-power-off"></i>
                    <span class="text nav__text">
                        Logout
                    </span>
            </li>
            <li class="mode" (click)="darkMode()">
                <div class="moon__sun">
                    <i class="pi pi-moon" [ngClass]="{'pi__sun': darkModeSelect}"></i>
                </div>
                <span class="mode__text tex">{{ mode }}</span >
                <div class="toggle__switch">
                    <span class="switch" [ngClass]="{switchDark: darkModeSelect}"></span>
                </div>
            </li>
        </div>
    </div>
</nav>


<section class="home">
  <router-outlet></router-outlet>
</section>

<section class="social__media">

</section>
