/* ====== Sidebar text image ======= */
.sidebar .text {
  font-size: 1rem;
  overflow: hidden;
}
.header-text{
  width: 400px;
  font-weight: 600;
  color: var(--paragraph-black);
}
.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

/* =====sidebar */

.sidebar header {
  position: relative;
  margin-left: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px 10px 0px 10px;
  width: 250px;
  background-color: var(--sidebar-color);
  z-index: 100;
  transition: 0.1s;
}

.sidebar .image-text {
  margin-bottom: 25px;
}

.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  transition: var(--trans-03);
}

.sidebar .pi {
  margin-left: 2.5px;
}

.sidebar .menu__bar i{
  color: var(--paragraph-black);
}

.menu__bar {
  overflow: hidden;
  height: 100%;
  margin-left: -5px;
  position: relative;
}
.menu__bar .menu{
  height: 80%;
}

.menu__bar .menu__list{
  margin-top: 10px;
  height: auto;
  max-height: 100%;
  overflow-y: auto;
  overflow-anchor: 1px;

}

.menu__list .nav__link {
  border-radius: 5px;
  padding: 8px;
}


header .image-text .image__logo {
  width: 42px;
  height: 40px;
  margin-left: 1px;
}



.sidebar header .toggle {
  position: absolute;
  top: 130%;
  right: -60px;
  cursor: pointer;
  height: 35px;
  width: 35px;
  transform: translateY(-50px);
  border: 1px solid rgb(95, 92, 92);
  border-radius: 5px;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: center;
}
.toggle .bi{
  color: rgb(76, 76, 80);
}

li {
  cursor: pointer;
  padding: 8px;
}

.sidebar li {
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.menu .menu__search {
  background-color: var(--primary-color-ligth);
  border-radius: 5px;
  width: calc(100% - 10px);
  transition: var(--trans-03);
}

.menu li .search {
  height: 100%;
  width: 150px;
  border-radius: 5px;
  margin-left: 15px;
  outline: none;
  border: none;
  padding: 5px;
  color: var(--paragraph-black);
  background-color: var(--primary-color-ligth);
  transition: var(--trans-03);
}

.menu li .search::placeholder {
  color: var(--paragraph-black);
}


.sidebar li .nav__text {
  margin-left: 35px;
  color: var(--paragraph-black);
}

.sidebar li:hover,
.sidebar li:focus {
  background-color: var(--bodi-color);
  color: var(--paragraph-white);

}

.sidebar .menu__bar {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .menu__bar .mode{
  width: 100%;
  position: relative;
  bottom: 35px;
  background-color: var(--gray-50);
  border-radius: 15px;
  padding: 4px;
  height: auto;
  min-height: 42px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.menu__bar .mode div{
  width: 50%;
  height: auto;
  min-height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-50);
  cursor: pointer;
}
.mode div span{
  font-family: var(--roboto);
  font-size: 1rem;
  color: var(--paragraph-black);
  font-weight: 500;
}

.menu__bar .mode .btn__light__select{
  background-color: var(--sidebar-color);
  box-shadow: -2px -2px 5px rgba(77, 76, 76, 0.582);
}
.mode div span i{
  margin-right: 7px;
  color: var(--paragraph-black);
  font-weight: 600;
}




@media(max-width:460px){
}
