/* clases conditionals */
.vela__blue__sidebar header .toggle {
  border: 1px solid rgb(146, 141, 141);
}

.vela__blue__sidebar header .toggle .bi {
  color: var(--paragraph-white);
}

.vela__blue__sidebar .toggle i {
  color: var(--paragraph-white);
}

.sidebar li a .nav__text__white {
  color: var(--paragraph-white);
}



.vela__blue__sidebar {
  background-color: var(--surface--blue);
}

.vela__blue__sidebar .header-text .name {
  color: var(--sidebar-color);
}

.vela__blue__sidebar .menu__bar li .pi {
  color: var(--paragraph-white);
}

.vela__blue__sidebar .menu__bar .mode{
  background-color: var(--surface-b);
}
.vela__blue__sidebar .mode div{
  background-color: var(--surface-b);
}
.vela__blue__sidebar .mode .btn__dark__select{
  background-color: #394a61c5;
  box-shadow: 0px 0px 2px rgba(255, 254, 254, 0.822);
}

.vela__blue__sidebar .mode span{
  color: var(--sidebar-color);
}
.vela__blue__sidebar .mode span i{
  color: var(--sidebar-color);
}
.vela__blue__sidebar .menu__bar .menu__search .search {
  color: var(--paragraph-white);
  background-color: var(--surface-d);
}

.vela__blue__sidebar .menu__bar .menu__search {
  background-color: var(--surface-d);
}

.vela__blue__sidebar .menu__bar .search::placeholder {
  color: var(--paragraph-white);
}

.vela__blue__sidebar .header-text {
  color: var(--sidebar-color);
}

.vela__blue__sidebar li .nav__text {
  color: var(--sidebar-color);
}



.vela__blue__sidebar li:hover,
.vela__blue__sidebar li:focus {
  background-color: var(--surface-d);
}

.vela__blue__sidebar .social__media i {
  color: var(--paragraph-white);
}

.closeNav {
  width: 75px;
  transition: var(--trans-01);
}
.closeNav header .toggle {
  top: 130%;
  right: 10px;
  z-index: 200;
  margin-top: 55px;
}
.closeNav .image-text img{
  display: none;
}
.closeNav .menu__bar {
  height: calc(100% - 40px);
  margin-top: 50px;
}
.closeNav .menu__bar li {
  margin-left: 10px;
  width: 43px;
}

.closeNav .menu__bar i{
  margin-left: 5px;
}

.closeNav .menu__bar .mode{
  bottom: 15px;
  flex-direction: column;
}
.closeNav .menu__bar .mode div i{
  display: none;
}
.closeNav .menu__bar .mode div{
  text-align: center;
  width: 100%;
}

.closeNav .menu__bar .menu__search .search {
  margin-left: 25px;
}

.closeNav header .header-text {
  display: none;
  transition: var(--trans-03);
}

.closeNav li .nav__text {
  display: none;
}

.closeNav .mode {
  margin-left: 7px;
}

.sidebar~.home {
  position: fixed;
  margin-left: 250px;
  height: 100%;
  width: calc(100% - 230px);
  overflow-y: auto;
  transition: var(--trans-02);
}

.closeNav~.home {
  margin-left: 75px;
  width: calc(100% - 55px);
  transition: 0.2s;
}

