/* clases conditionals */
.vela__blue__sidebar header .toggle{
  border: 1px solid rgb(146, 141, 141);
}
.vela__blue__sidebar header .toggle .bi{
  color: rgb(196, 219, 240);
}

.vela__blue__sidebar .toggle i {
  color: rgb(216, 233, 249);
}
.sidebar li a .nav__text__white {
    color: white;
}

.switchDark::before {
    left: 20px;
}

.vela__blue__sidebar {
    background-color: var(--surface-card);
}
.vela__blue__sidebar .header-text .name{
  color: var(--sidebar-color);
}
.vela__blue__sidebar .menu__bar li .pi {
    color: aliceblue;
}

.vela__blue__sidebar .menu__bar li .pi__sun::before {
    content: "\e9c8";
    transition: var(--trans-03);
}

.vela__blue__sidebar .menu__bar .menu__search .search {
    color: rgb(255, 255, 255);
    background-color: var(--surface-d);
}

.vela__blue__sidebar .menu__bar .menu__search {
    background-color: var(--surface-d);
}
.vela__blue__sidebar .menu__bar .search::placeholder{
  color: rgb(236, 238, 240);
}

.vela__blue__sidebar .header-text {
    color: var(--sidebar-color);
}

.vela__blue__sidebar li .nav__text {
    color: var(--sidebar-color);
}

.vela__blue__sidebar .mode {
    background-color: var(--surface-d);
    color: var(--surface-900);
    transition: var(--trans-03);
    overflow: hidden;
}

.vela__blue__sidebar li:hover, .vela__blue__sidebar li:focus {
    background-color: var(--surface-d);
}
.vela__blue__sidebar .social__media i{
  color: aliceblue;
}
.closeNav {
    width: 75px;
    transition: var(--trans-02);
}
.closeNav .menu__bar li {
  margin-left: 10px;
  width: 43px;
}
.closeNav .menu__bar i, .bottom__content i{
  margin-left: 5px;
}

.closeNav .menu__bar li .switch {
    left: -16px;
    transition: 1s;
}
.closeNav .menu__bar .bottom__content .mode .toggle__switch{
  margin-left: -1px;
}

.closeNav .menu__bar .menu__search .search {
    margin-left: 25px;
}
.closeNav header .header-text {
    display: none;
   transition: var(--trans-03);
}

.closeNav li .nav__text {
    display: none;
}

.closeNav .mode {
    margin-left: 7px;
}

.sidebar ~ .home {
    position: fixed;
    margin-left: 250px;
    height: 100%;
    width: calc(100% - 230px);
    overflow-y: auto;
    transition: var(--trans-03);
}

.closeNav ~ .home {
    margin-left: 75px;
    width: calc(100% - 55px);
}

.vela__blue__sidebar ~ .social__media{
   transition: var(--trans-03);
    background-color: var(--surface-card);
}
