<nav class="sidebar" [ngClass]="{'closeNav': isClose, 'vela__blue__sidebar': darkModeSelect}">
  <!-- acabo de agregar dos clases dependiendo de dos condiciones -->
  <header>
    <div class="image-text">
      <span class="image">
        <img src="assets/images/img_perfil.png" alt="logo" class="image__logo">
      </span>
      <div>
        <div class="text header-text">
          <span class="name"> Euclides Perez </span>
        </div>
        <div class="text header-text">
          <span class="name">Developer</span>
        </div>
      </div>
    </div>

    <span class="toggle" (click)="openOrCloseSidebar()">
      <i class="bi bi-layout-sidebar-inset-reverse" [ngClass]="{'bi-layout-sidebar-inset': isClose}"></i>
    </span>
  </header>

  <div class="menu__bar">
    <div class="menu">
      <!-- <li class="menu__search">
        <i class="pi pi-search" (click)="openWithSearch()"></i>
        <input type="search" class="search" placeholder="Search....">
      </li> -->
      <ul class="menu__list">
        <li class="nav__link" *ngFor="let item of sidebarItems" [routerLink]="item.url">
          <i [ngClass]="item.icon"></i>
          <span class="text nav__text">
            {{item.label}}
          </span>
        </li>
      </ul>

    </div>

    <div class="social__media">
      <a href="https://github.com/euclidesseg" target="_blank"><i class="pi pi-github"></i></a>
      <a href="https://www.linkedin.com/in/euclides-perez-55329b196/" target="_blank"><i class="pi pi-linkedin"></i></a>
      <a href="mailto:euclides2696@gmail.com" target="_blank"><i class="pi pi-google"></i></a>
    </div>
    <!-- <li class="log">
                    <i class="pi pi-power-off"></i>
                    <span class="text nav__text">
                        Logout
                    </span>
            </li> -->

    <div class="mode">
      <div class="light btn__light__select"  [ngClass]="{'btn__light__select': !darkModeSelect}" (click)="changeMode('light')">
        <span> <i class="pi pi-sun"></i> Light</span>
      </div>
      <div class="dark btn__dark__select"  [ngClass]="{'btn__dark__select': darkModeSelect}" (click)="changeMode('dark')">
        <span> <i class="pi pi-moon"></i> Dark</span>
      </div>
    </div>

  </div>
</nav>


<section class="home">
  <router-outlet></router-outlet>
</section>
