.container__cards{
  width: 100%;
  height: auto;
  padding: 90px;
}

.card__container{
  width: auto;
  height: auto;
  max-height: 250px;
  min-width:80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 10px;
  gap: 20px;
  display: flex;
  font-family: var(--source-code);
  color: black;
}

.card__container .img__card{
  width:auto;
  min-width: 150px;
  max-width: 28%;
  height: auto;
  min-height: 260px;

}
.card__container .info__card{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  margin: auto;
  font-family: var(--source-code);
}

.info__card .aptitudes{
  margin-top: 30px ;
  font-family: var(--source-code);
}
.info__card .credential{
  margin-top: 30px ;
  width: auto;
  min-width: 200px;
  font-family: var(--source-code);
}
.credential a{
  text-decoration: none;
  width: auto;
  padding: 5px;
  color: var(--button-color);
  height: 15px;
  font-size: 1rem;
  border-radius: 25px;
  background: #b5b4f973;
  font-family: var(--source-code);
  font-weight: 600;

}
.credential a:hover{
  box-shadow: 0px 0px 5px rgba(114, 114, 233, 0.849);
  transition: var(--trans-02);
}
.credential a i{
  margin-left: 5px;
  text-align: center;
}

@media(max-width:1115px){
  .container__cards{
    padding: 70px 50px 0px 50px;
   }
  .card__container{
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-height: 1200px;
  }
  .card__container .img__card, .card__container .info__card{
    min-width: 100%;
    width:70%;
  }
}
@media(max-width:600px){
  .container__cards{
    padding: 50px 30px 0px 30px;
  }
  .card__container .img__card, .card__container .info__card{
    width: 85%;
  }
 .card__container{
  margin: 0 0 100px 0;
 }
 .info__card{
  width: 100%;
 }
}
.darkText .credential a{
  color: var(--paragraph-white);
}
